<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home for Hounds</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/">Home</a>
            <a class="navbar-brand topnav" href="/about">About</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#algorithmn">Algorithmn</a>
                </li>
                <li>
                    <a href="#architecture">Architecture</a>
                </li>
                <li>
                    <a href="#design">Design</a>
                </li>
                <li>
                    <a href="#difficulties">Difficulties</a>
                </li>
                <li>
                    <a href="#validation">Testing</a>
                </li>
                <li>
                    <a href="#creators">Creators</a>
                </li>
                <li>
                    <a href="#references">References</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>HOME FOR HOUNDS - ABOUT</h1>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="algorithmn"></a>
<div class="content-section-a">

    <div class="container">
        <h2>Matching Algorithm</h2>
        <hr>
        <p>
            The Matching Algorithmn is based on four personality traits that dogs and humans are matched over.
            When registering, the user is promted to answer questions that give the user scores from one to five for those traits.
            When matching traits of energy, confidence and focus between dogs and users, users will find dogs with scores that equal theirs, albeit with a plus or minus one margin.
            An example of the code that reflects this would be:
                <blockquote>if( (user.energy - dog[i].energy >= -1) && (user.energy - dog[i].energy <= 1) ...</blockquote>
            This would only accept match between a dog and user which had a equal energy scores with a margin of one.
            <br>
            The Independence trait however, is the opposite, with dogs that are higly dependent being best matched with independent people. The code used is:
                <blockquote>(user.independence + dog[i].independence >= 5) && (user.independence + dog[i].independence <= 7))</blockquote>
            This accepets matches between users and dogs where they are on different sides of the 1 to 5 scale, or indeed both in the middle.
        </p>
    </div>

</div>

<!-- /.content-section-b -->
<a  name="architecture"></a>
<div class="content-section-b">

    <div class="container">
    <h2>Architecture</h2>
    <hr>
    <p>The site uses two different database collections, one collection is for the human users of the website called 'accounts' whereas the second collection is the collection of dogs that the users are able to be matched with, this collection is called 'dogs'. This was the most simple implementation we came up with regarding the adoption of dogs as it is easy to compare the energy, confidence, focus and independence the users chose with those of the dogs. The simple design and layout of our site favours the users usability, making them able to find their matching dogs quickly so they are able to adopt as soon as possible.</p>
    </div>

    </div>

<a  name="design"></a>
<div class="content-section-a">

    <div class="container">
        <h2>Design</h2>
        <hr>
        <p>
            This site uses Bootstrap, an open source web design framework. The Landing Page theme provided by Start Boostrap under MIT license is used as a base, mainly for the home and about pages, with modifications made to suit the purposes of this site.</p>
    </div>

</div>

<!-- /.content-section-b -->
<a  name="difficulties"></a>
<div class="content-section-b">

    <div class="container">
        <h2>Difficulties</h2>
        <hr>
        <p>Some difficulties we faced in this project include the unfortunate event of one of our group members leaving our group, so we completed this project in a group of 2. We didn't encounter too many other difficulties in the project as most of the packages we used had good documentation that was easy to understand. </p>
    </div>

</div>

<a  name="validation"></a>
<div class="content-section-a">

    <div class="container">
        <h2>Testing and Validation</h2>
        <hr>
        <p>For testing of the code, we would mainly just create user accounts and then verify that they were there with the right values by looking on mlab at the database. This was also useful for testing the update details and password changes as you are able to see if the changes are happening or not in the database. For validation we used the mongoose-validators npm package which lets you very easily validate user input such as the email address when you register and update your account. Travis CI was also used to allow continous intergration building and testing with our use of Github.</p>
    </div>

</div>

<!-- /.content-section-b -->
<a  name="creators"></a>
<div class="content-section-b">

    <div class="container">
            <h2>Creators</h2>
            <hr>
            <div class="col-md6 col-lg-6 text-center">
                <img class="img-circle" src="images/Louis_White.png" alt='', width='300', height='300'>
                <div class="mt6">
                    <h4>Louis White</h4>
                    <p>21500209</p>
                </div>
            </div>
            <div class="col-md6 col-lg-6 text-center">
                <img class="img-circle" src="images/Wen_Tan.png" alt='', width='300', height='300'>
                <div class="mt6">
                    <h4>Wen Tan</h4>
                    <p>21503781</p>
                </div>
            </div>
    </div>

</div>

<a  name="references"></a>
<div class="content-section-a">

    <div class="container">
        <h2>References</h2>
        <hr>
        <p>Images</p>
        <ul>
            <li>
                A.  Dummer, black and white jack russell terrier. 2015 [Online]. Available: https://www.pexels.com/photo/black-and-white-jack-russell-terrier-132668/. [Accessed: 15- May- 2017]>
            </li>
            <li>
                H. Haliwell, Two dogs. 2017 [Online]. Available: https://www.pexels.com/photo/dogs-pets-puppies-animals-38008/. [Accessed: 16- May- 2017]            </li>
            <li>
                Pixabay, light golden retriever puppy close up photography. [Online]. Available: https://www.pexels.com/photo/light-golden-retriever-puppy-close-up-photography-159541/. [Accessed: 15- May- 2017]            </li>
            <li>
                Unsplash, 3 tan short coated puppy on gray dirt during daytime. [Online]. Available: https://www.pexels.com/photo/3-tan-short-coated-puppy-on-gray-dirt-during-daytime-26128/. [Accessed: 15- May- 2017]            </li>
            <li>
                B. Willems, Guarding my bone under my paw. 2017 [Online]. Available: https://pbs.twimg.com/media/C6DYCezVUAAwsdz.jpg:large. [Accessed: 07- Apr- 2017]
            </li>
            <li>
                The Dogist, Elsa. 2017 [Online]. Available: http://68.media.tumblr.com/62aeb6cc898d6405302cdab88cb8487d/tumblr_oo5fs57ofH1slm9b6o1_1280.jpg. [Accessed: 08- Apr- 2017]
            </li>
            <li>
                The Dogist, Otto. 2017 [Online]. Available: http://68.media.tumblr.com/697b99dd6781c9a65cfd6fb43f2faeda/tumblr_onzuouVVWt1slm9b6o1_1280.jpg. [Accessed: 08- Apr- 2017]
            </li>
            <li>
                The Dogist, Tucker. 2017 [Online]. Available: http://68.media.tumblr.com/dbecd7955516d5e46ae6559d4a8ee1d3/tumblr_oo9rsx2q4r1slm9b6o1_1280.jpg. [Accessed: 08- Apr- 2017]
            </li>
            <li>
                The Dogist, Biggie. 2017 [Online]. Available: http://68.media.tumblr.com/33cf2311d86e8a5bfdfbc22f6a9058dd/tumblr_on9wtxeRKT1slm9b6o1_1280.jpg. [Accessed: 08- Apr- 2017]
            </li>
            <li>
                The Dogist, Franklin. 2017 [Online]. Available: http://68.media.tumblr.com/52869e85ab09880d10926371d159daa9/tumblr_on6y4b5I5K1slm9b6o1_1280.jpg. [Accessed: 08- Apr- 2017]
            </li>
            <li>
                The Dogist, Watson. 2017 [Online]. Available: http://68.media.tumblr.com/ef47747259a0cd0d5578e41dc2bb3ad3/tumblr_om8w9jXczs1slm9b6o1_1280.jpg. [Accessed: 08- Apr- 2017]
            </li>
            <li>
                The Dogist, Indi. 2017 [Online]. Available: http://68.media.tumblr.com/4a607a8a4d84e869ce28f466f7ee4d01/tumblr_om5xexhmE41slm9b6o1_1280.jpg. [Accessed: 08- Apr- 2017]
            </li>
            <li>
                The Dogist, Onyx. 2017 [Online]. Available: http://68.media.tumblr.com/7d085fb3b301117411f6841ac37d09ac/tumblr_om26u6IpKV1slm9b6o1_1280.jpg. [Accessed: 08- Apr- 2017]
            </li>
            <li>
                The Dogist, Niko. 2017 [Online]. Available: http://68.media.tumblr.com/292953fb431380b58333ed0f569dc47f/tumblr_ol48ipCWhG1slm9b6o1_400.jpg. [Accessed: 08- Apr- 2017]
            </li>
        </ul>
    </div>

</div>


<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Find your match today!</h2>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; University of Western Australia 2017. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>

<script type="text/javascript" src="ejs_production.js"></script>

</body>

</html>
