<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WEBSITE NAME - About</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/">Home</a>
            <a class="navbar-brand topnav" href="/about">About</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#algorithmn">Algorithmn</a>
                </li>
                <li>
                    <a href="#architecture">Architecture</a>
                </li>
                <li>
                    <a href="#design">Design</a>
                </li>
                <li>
                    <a href="#difficulties">Difficulties</a>
                </li>
                <li>
                    <a href="#validation">Testing</a>
                </li>
                <li>
                    <a href="#creators">Creators</a>
                </li>
                <li>
                    <a href="#references">References</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>WEBSITE NAME - About</h1>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="algorithmn"></a>
<div class="content-section-a">

    <div class="container">
        <h2>Matching Algorithm</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas commodo vehicula. Vivamus ut urna egestas, facilisis felis eget, euismod mi. Suspendisse mattis ac mauris in malesuada. Nam eget pretium mi. Donec a ornare eros, non cursus orci. In hac habitasse platea dictumst. Donec non dapibus ipsum, placerat mattis metus. Nunc posuere mi sed justo pellentesque tempus. Quisque sit amet elit in lectus posuere mattis nec et mi. Maecenas ut consequat lacus. Proin urna odio, viverra sed nisi eu, dapibus tempor augue. Aliquam erat volutpat. Vestibulum imperdiet euismod eros, non egestas nibh tempus ut. In hac habitasse platea dictumst. Fusce eget rutrum nulla, nec elementum eros. Integer congue enim a magna cursus, sed mattis sapien luctus. </p>
    </div>

</div>

<!-- /.content-section-b -->
<a  name="architecture"></a>
<div class="content-section-b">

    <div class="container">
    <h2>Architecture</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas commodo vehicula. Vivamus ut urna egestas, facilisis felis eget, euismod mi. Suspendisse mattis ac mauris in malesuada. Nam eget pretium mi. Donec a ornare eros, non cursus orci. In hac habitasse platea dictumst. Donec non dapibus ipsum, placerat mattis metus. Nunc posuere mi sed justo pellentesque tempus. Quisque sit amet elit in lectus posuere mattis nec et mi. Maecenas ut consequat lacus. Proin urna odio, viverra sed nisi eu, dapibus tempor augue. Aliquam erat volutpat. Vestibulum imperdiet euismod eros, non egestas nibh tempus ut. In hac habitasse platea dictumst. Fusce eget rutrum nulla, nec elementum eros. Integer congue enim a magna cursus, sed mattis sapien luctus. </p>
    </div>

    </div>

<a  name="design"></a>
<div class="content-section-a">

    <div class="container">
        <h2>Design</h2>
        <hr>
        <p>This site uses the Landing Page theme provided by Start Boostrap under MIT license as a base, with modifications made to suit the purposes of this site.</p>
    </div>

</div>

<!-- /.content-section-b -->
<a  name="difficulties"></a>
<div class="content-section-b">

    <div class="container">
        <h2>Difficulties</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas commodo vehicula. Vivamus ut urna egestas, facilisis felis eget, euismod mi. Suspendisse mattis ac mauris in malesuada. Nam eget pretium mi. Donec a ornare eros, non cursus orci. In hac habitasse platea dictumst. Donec non dapibus ipsum, placerat mattis metus. Nunc posuere mi sed justo pellentesque tempus. Quisque sit amet elit in lectus posuere mattis nec et mi. Maecenas ut consequat lacus. Proin urna odio, viverra sed nisi eu, dapibus tempor augue. Aliquam erat volutpat. Vestibulum imperdiet euismod eros, non egestas nibh tempus ut. In hac habitasse platea dictumst. Fusce eget rutrum nulla, nec elementum eros. Integer congue enim a magna cursus, sed mattis sapien luctus. </p>
    </div>

</div>

<a  name="validation"></a>
<div class="content-section-a">

    <div class="container">
        <h2>Testing and Validation</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas commodo vehicula. Vivamus ut urna egestas, facilisis felis eget, euismod mi. Suspendisse mattis ac mauris in malesuada. Nam eget pretium mi. Donec a ornare eros, non cursus orci. In hac habitasse platea dictumst. Donec non dapibus ipsum, placerat mattis metus. Nunc posuere mi sed justo pellentesque tempus. Quisque sit amet elit in lectus posuere mattis nec et mi. Maecenas ut consequat lacus. Proin urna odio, viverra sed nisi eu, dapibus tempor augue. Aliquam erat volutpat. Vestibulum imperdiet euismod eros, non egestas nibh tempus ut. In hac habitasse platea dictumst. Fusce eget rutrum nulla, nec elementum eros. Integer congue enim a magna cursus, sed mattis sapien luctus. </p>
    </div>

</div>

<!-- /.content-section-b -->
<a  name="creators"></a>
<div class="content-section-b">

    <div class="container">
            <h2>Creators</h2>
            <hr>
            <div class="col-md4 col-lg-4 text-center">
                <img class="img-circle" src="images/placeholder.png" alt='', width='300', height='300'>
                <div class="mt4" >
                    <h4>Emma Vincent</h4>
                    <p>21516569</p>
                </div>
            </div>
            <div class="col-md4 col-lg-4 text-center">
                <img class="img-circle" src="images/placeholder.png" alt='', width='300', height='300'>
                <div class="mt4">
                    <h4>Louis White</h4>
                    <p>21500209</p>
                </div>
            </div>
            <div class="col-md4 col-lg-4 text-center">
                <img class="img-circle" src="images/placeholder.png" alt='', width='300', height='300'>
                <div class="mt4">
                    <h4>Wen Tan</h4>
                    <p>21503781</p>
                </div>
            </div>
    </div>

</div>

<a  name="references"></a>
<div class="content-section-a">

    <div class="container">
        <h2>References</h2>
        <hr>
        <p>Images</p>
        <ul>
            <li>
                <a href="https://www.pexels.com/photo/dogs-pets-puppies-animals-38008/">https://www.pexels.com/photo/dogs-pets-puppies-animals-38008/</a>
            </li>
            <li>
                <a href="https://www.pexels.com/photo/3-tan-short-coated-puppy-on-gray-dirt-during-daytime-26128/">https://www.pexels.com/photo/3-tan-short-coated-puppy-on-gray-dirt-during-daytime-26128/</a>
            </li>
            <li>
                <a href="https://www.pexels.com/photo/light-golden-retriever-puppy-close-up-photography-159541/">https://www.pexels.com/photo/light-golden-retriever-puppy-close-up-photography-159541/</a>
            </li>
            <li>
                <a href="https://www.pexels.com/photo/black-and-white-jack-russell-terrier-132668/">https://www.pexels.com/photo/black-and-white-jack-russell-terrier-132668/</a>
            </li>
        </ul>
    </div>

</div>


<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Find your match today!</h2>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; University of Western Australia 2017. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>

<script type="text/javascript" src="ejs_production.js"></script>

</body>

</html>
